POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=paraiba_hotdog_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TWILIO_ACCOUNT_SID=SEU_TWILIO_ACCOUNT_SID_AQUI
TWILIO_API_KEY_SID=SEU_TWILIO_API_KEY_SID_AQUI
TWILIO_AUTH_TOKEN=SEU_TWILIO_AUTH_TOKEN_AQUI
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

KEYCLOAK_REALM=paraiba-hotdog
KEYCLOAK_ISSUER=http://localhost:8080/realms/paraiba-hotdog
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/paraiba-hotdog/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=paraiba-hotdog-api

KEYCLOAK_ADMIN_BASE_URL=http://localhost:8080
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_USER_SYNC_ENABLED=true

FRONTEND_BASE_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SMTP_RECUPERACAO_SENHA_HOST=smtp.gmail.com
SMTP_RECUPERACAO_SENHA_PORT=587
SMTP_RECUPERACAO_SENHA_USERNAME=seu-email@gmail.com
SMTP_RECUPERACAO_SENHA_PASSWORD=sua-senha-de-app
SMTP_RECUPERACAO_SENHA_FROM_EMAIL=seu-email@gmail.com
SMTP_RECUPERACAO_SENHA_FROM_NAME=Paraiba Hot Dog
SMTP_RECUPERACAO_SENHA_STARTTLS=true
SMTP_RECUPERACAO_SENHA_SSL=false
RESET_SENHA_TOKEN_MINUTOS=30
